#container {
    width: 90vw;
    height: 90vw;
    margin: auto;
}
.ft-left {
    background-color: rgb(238,85,68, .86);
    border-radius: 3ex;
    width: 36vw;
    position: static;
    float: left;
    padding: 1vw;
}

.ft-right {
    background-color: rgb(238,85,68, .86);
    border-radius: 3ex;
    width: 46vw;
    position: static;
    float: left;
    padding: 2vw;
    margin-left: 1vw;
}

.foodtruck-name {
    width: 28vw;
    font-family: 'Gill Sans';
    margin: auto;
    font-size: 3vh;

}

.foodtruck-picture {
    width: 30vw;
    margin: auto;
}

img {
    width: 30vw;
    margin: auto;
}

.food-menu {
    width: 42vw;
}

.food-menu h3 {
    font-family: 'Gill Sans';
    color: white;
    font-size: 3vh;
    float: left;
    width: 12vw;
}

.reviews h3 {
    font-family: 'Gill Sans';
    color: rgb(64, 241, 198);
    font-size: 3vh;
    float: left;
    width: 12vw;
}

ul {
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
    width: 29vw;
    justify-content: left;
}


h5 {
    font-family: 'Arial Narrow Bold';
    font-size: 2.7vh;
    margin-bottom: 1em;
    margin-left: -1em;
}

.dish-type {
    text-align: left;
}

.dish-description {
    text-align: right;
    margin-top: -0.2em;
    font-size: 1.6vh;
    font-style: italic;
}

.single-list {
    background-color: rgba(200, 210, 209, .7);
    border-radius: 1ex;
    height: 3em;
}