body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: linear-gradient(89deg, red 0%, #04C8DE 100%); */
    background-image: url("img/tacowall.jpg");
    background-repeat: repeat;
}

button {
    cursor: pointer;
}
